.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #1ae0e0;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    
}

.navbar__link {
    color: white;
}